*{
    top: 0px;
    border: 0px;
    bottom: 0px;
    
}
.navegacao {
    border: 0px;
    bottom: 0px;
    top: 0px;
    display: flex;
    gap: 180px;
    position: sticky;
    background: rgb(245, 183, 101);
    border-radius: 5px;
    padding: 30px 30px; 
}

#nav a {
    gap:180px;

    top: 0px;
    border: 0px;
    bottom: 0px;
    font-size: medium;
    font-family: 'Segoe UI';
    
}

.navegacao a:hover{
    color: azure;
}   

.navegacao a{
    font-size: medium;
    font-family: 'Segoe UI';
    text-align: center;
}

.container1 {
    display: flex;
    gap: 10px;
}

.container2{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container3{
    display:flex;
    gap: 60px
}

.container4{
    display: flex;
    gap: 70px;
}

#etc{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.fundacao{
    top: 5px;
    max-width: 95%;
}

.origem {
    text-align: justify;
    max-width: 95%; 
}

figcaption {
    text-align:center;
    opacity: 0.8;
}

#execessao{
    text-align: left;
    opacity: 0.8;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro{
    font-family: 'Times New Roman';
    font-size: 18px;
}

p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}

a {
    color: brown;
    text-decoration: none;
}

a:hover{
    color: #BF7160;
}

.monarquia {
    max-width: 200;
}  

h2, h1{
    font-family: 'Trebuchet MS';
}

h3{
    font-family: 'Lucida Sans Unicode';
}


#botao{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: 'Trebuchet MS';
    
}

.butao{
    display: inline-block;
    background-color: #BF7160;
    color: black;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.butao:hover{
    background-color: blanchedalmond;
}

#box{
    display: inline-block;
    background-color: rgb(240, 211, 174);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: medium;
    text-decoration: none;
    font-family: 'Trebuchet MS';
    justify-content: center;
    align-items: center
}
