.navegacao {
    display: flex;
    gap: 50px;
    position: sticky;
    top: 0;
    padding: 10px 16px;
    background: rgb(245, 183, 101);
    color: rgb(128, 87, 13);
    font-size: medium;
    font-family: 'Trebuchet MS';
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    /*ver como colocar os itens no meio e aumentar header de tamanho*/
}

.container1 {
    display: flex;
    gap: 10px;
}

.container2{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.container3{
    display:flex;
    gap: 60px
}

#etc{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}


.fundacao{
    top: 5px;
    max-width: 200;
}

.origem {
    text-align: justify;
    max-width: 80%; 
}

figcaption {
    text-align:center;
    opacity: 0.8;
}

header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro{
    font-family: 'Times New Roman';
    font-size: 18px;
}

p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
   
}

a {
    color: brown;
    text-decoration: none;
}

.monarquia {
    max-width: 200;
}  

h2{
    font-family: 'Trebuchet MS';
}

#botao{
    display: flex;
    justify-content: right;
    align-items: center;
    font-family: 'Trebuchet MS';
    
}

.butao{
    display: inline-block;
    background-color: #BF7160;
    color: black;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.butao:hover{
    background-color: blanchedalmond;
}

#box{
    display: inline-block;
    background-color: rgb(245, 183, 101);
    color: black;
    border: none;
    border-radius: 10px;
    padding: 20px 20px;
    font-size: medium;
    text-decoration: none;
    font-family: 'Trebuchet MS';
}
