
.navegacao {
    display: flex;
    gap: 20px;
}

.container {
    display: flex;
    gap: 20px;
}

.imagem1{
    border: 1px solid salmon;
}

.fundacao{
    top: 5px;
    max-width: 500px;
    font-family: 'Times New Roman';
    font-size: 18px;
}

.origem {
    font-size: 18px;
    text-align: left;
    max-width: 80%;
    font-family: 'Times New Roman';
   
}

figcaption {
    text-align:left;
    opacity: 0.6;
}

header {
    font-family: 'Times New Roman';
}

#intro{
    font-family: 'Times New Roman';
    font-size: 18px;
}

p{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    
}